/*
* @Author: chenchao
* @Date:   2018-01-12 15:24:49
* @Last Modified by:   chenchao
* @Last Modified time: 2018-01-12 15:30:02
*/
.a{
    display: flex;
    animation-name: aa;
    transform: translate(-50%,-50%);
}