/*
* @Author: chenchao
* @Date:   2018-01-02 16:41:22
* @Last Modified by:   chenchao
* @Last Modified time: 2018-01-02 16:41:32
*/

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}